html
  head
    include layouts/header.pug
  body
    .container
        h1= "Add User"

        form(method='POST' action='/user/add')
            div.form-group
                label(for='name') Firstname:
                input#name.form-control(type='text', placeholder='Firstname' name='firstname')
            div.form-group
                label(for='name') Lastname:
                input#name.form-control(type='text', placeholder='Lastname' name='lastname')
            div.form-group
                label(for='name') Nickname:
                input#name.form-control(type='text', placeholder='Nickname' name='nickname')
            button.btn.btn-primary(type='submit') Save

        h4= "Users List"
        table.table.table-striped
            thead
                tr
                    th  #
                    th  firstname
                    th  lastname
                    th  nickname
            tbody
                each user, index in users
                    tr
                        td=  index
                        td=  user.firstname
                        td=  user.lastname
                        td=  user.nickname
    include layouts/footer.pug